<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @member_friend_demand.message %>
</p>


<%= link_to 'Edit', edit_member_friend_demand_path(@member_friend_demand) %> |
<%= link_to 'Back', member_friend_demands_path %>
