%h1 Black Board
#blackboard
  .row
    .columns.small-12
      .board-corner-top-left.left
      .board-corner-top-right.right
      .board-top
      .board-content
        %h2.text-center The Board
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum vitae nisi in commodo. Vestibulum varius, nisi vel tempus dictum, urna nisl convallis libero, sed eleifend leo tellus vitae nunc. Aliquam mollis nisl sed viverra tempus. Vivamus ornare dapibus sem, a lobortis massa viverra in. Pellentesque velit mauris, pretium sit amet tristique nec, euismod et nisl. Ut rhoncus facilisis orci. Vivamus accumsan scelerisque nulla et vulputate. Proin quis varius magna, vel porttitor quam. Donec laoreet ultricies nulla, ac lobortis purus viverra fringilla. Nam sit amet tortor nunc. Nulla feugiat massa dapibus quam consectetur, vitae imperdiet nulla pulvinar. Duis posuere velit tristique est posuere tincidunt. Etiam venenatis, lorem ut ornare congue, dui urna varius tortor, non auctor urna mi ut sem. Vestibulum adipiscing pretium cursus. Pellentesque pellentesque cursus velit non facilisis. Vestibulum suscipit egestas risus.
          %br
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis lacus justo, ornare ut condimentum ut, sagittis et massa. Phasellus eleifend tortor lorem, ac elementum lacus adipiscing eget. Nullam rhoncus dui vel turpis volutpat fringilla. Donec fringilla vehicula neque vitae egestas. Aenean consequat pharetra est vel rutrum.
        %p
          Cras ac quam vitae eros volutpat scelerisque non vel ipsum. Fusce iaculis dolor pulvinar metus ullamcorper faucibus. In et orci pharetra, cursus arcu id, vestibulum elit. Quisque eu ante justo. Quisque sit amet mollis ipsum. Vestibulum faucibus, odio ut congue elementum, felis dolor dignissim dolor, ut laoreet sapien lorem non libero. Praesent tristique purus id leo faucibus, ut volutpat est dignissim. Maecenas at laoreet ipsum. Nullam sit amet nibh rhoncus, vestibulum eros sit amet, rhoncus risus. Vestibulum nec luctus velit. Pellentesque augue risus, pellentesque sit amet ultrices quis, vehicula vehicula felis. Nullam convallis varius ante convallis adipiscing. Praesent vitae gravida justo.
          %br
          Suspendisse at convallis dolor. Maecenas ac congue sem, at laoreet libero. Integer gravida pretium magna, nec sagittis magna commodo in. Suspendisse nec dapibus nunc. Morbi eget gravida est. Curabitur feugiat lacinia elit ac pulvinar. Nunc consequat ligula sed tortor placerat hendrerit. Vestibulum sagittis eleifend dui ac vestibulum. Etiam consequat aliquet lectus a fermentum.
          %br
          Vestibulum nisi ligula, lacinia vestibulum ornare eu, tincidunt sed lorem. Fusce dapibus dolor varius, aliquam tellus et, ultricies velit. Suspendisse potenti. Duis quis libero vestibulum, scelerisque sem quis, malesuada eros. Curabitur porttitor nec mi in interdum. Sed viverra nisi sed libero commodo imperdiet. Etiam vitae adipiscing sapien. Cras iaculis libero ac dolor blandit, id laoreet sapien rutrum. Maecenas dapibus augue ac nisl dignissim, sed viverra libero egestas. Duis mi turpis, scelerisque malesuada velit a, laoreet commodo leo. Maecenas fringilla adipiscing sapien, in pretium orci viverra at. Pellentesque venenatis lacus ut massa pretium, at condimentum ante pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse fringilla sem nibh. Cras porta diam eu leo cursus, in tempus ante aliquam. Praesent facilisis feugiat libero, vestibulum posuere odio commodo ac.
  .row
    .columns.small-12
      .board-corner-bottom-left.left
      .board-corner-bottom-right.right
      .board-bottom

