%h1= t "static_pages.contact.title"
%blockquote
  = t "static_pages.contact.text"
  =mail_to 'contact@collaide.com'

%fieldset
  %legend= t('.form.legend')
  =simple_form_for(@contact, url: send_email_contact_path) do |f|
    .form-inputs
      =f.input :subject
      =f.input :email
      =f.input :content
    .form-actions
      =f.button :submit, t('.form.button')
