%h1= t "static_pages.help.title"
%p= t "static_pages.help.text1"
%p= raw t('static_pages.help.text2', github: link_to("github", "https://github.com/facenord-sud/collaide"))
%p= t "static_pages.help.text3"