<h1><%= t "static_pages.help.title"%></h1>
<p><%= t "static_pages.help.text1"%></p>
<p><%= raw t('static_pages.help.text2', github: link_to("github", "https://github.com/facenord-sud/collaide"))%></p>
<p><%= t "static_pages.help.text3"%></p>
