%h1= t('static_pages.home.h1.title', app_name: t('app_name_long'))

.panel.callout.radius
  %h5 Collaide
  %p Partagez vos documents avec vos collègues de classe, échangez dans un espace privé, achetez et vendez vos livres scolaires d'occasions et bénéficiez de nombreuses fonctionnalités.

Mise en ligne:
.radius.progress.success
  %span.meter{'style'=> 'width: 80%'}

%p Pour la page d'accueil voila ce que je propose:
%ul
  %li Pour le visiteur qui n'est pas connecté:
  %ul
    %li Présentation en quelque mot du contenu du site
    %li Possibilité de s'inscrir ou de se connecté vu qu'on ne l'est pas
  %li Pour le membre connecté
  %ul
    %li Présentation des choses qui NOUS concerne
    %li Actualité des établissements, des groupes, de nos amis (document, annonce postée, etc..)


-#%ul{'data-orbit'=> true}
-#  %li
-#    %h4 Titre 1
-#    %p "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed facilisis sapien. Proin facilisis, erat in hendrerit scelerisque, libero tortor faucibus nunc, id condimentum tortor risus non lorem. Maecenas ullamcorper lorem ac porta dignissim. Integer ultrices elit mi, ac euismod felis lobortis id. Etiam vitae tellus leo. Praesent est diam, lacinia id urna vel, faucibus lacinia libero. Ut vitae diam sem. Cras sem purus, interdum id neque eget, tempor molestie erat. Maecenas auctor posuere felis eget accumsan. Suspendisse vel risus vitae justo malesuada auctor. Ut diam libero, tincidunt non nibh non, porttitor elementum dui. Donec blandit magna ornare mi tincidunt, rutrum interdum lacus rhoncus. Morbi sed imperdiet lacus, vitae placerat velit. Sed nec tellus vehicula, mattis lectus eu, convallis magna. Fusce est felis, dictum ac bibendum sed, vehicula malesuada diam. Etiam lacinia urna eget nibh accumsan, sed feugiat dui egestas. Duis laoreet est a malesuada tempus. Vivamus quis aliquam lacus. Aenean aliquam ipsum fermentum, sagittis neque non, suscipit lorem. Sed eu posuere est. Cras quis justo eget velit dapibus rhoncus. Curabitur tortor libero, elementum in nibh imperdiet, rutrum mollis lectus."
-#    .orbit-caption ...
-#  %li
-#    %h4 Titre 2
-#    %p "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed facilisis sapien. Proin facilisis, erat in hendrerit scelerisque, libero tortor faucibus nunc, id condimentum tortor risus non lorem. Maecenas ullamcorper lorem ac porta dignissim. Integer ultrices elit mi, ac euismod felis lobortis id. Etiam vitae tellus leo. Praesent est diam, lacinia id urna vel, faucibus lacinia libero. Ut vitae diam sem. Cras sem purus, interdum id neque eget, tempor molestie erat. Maecenas auctor posuere felis eget accumsan. Suspendisse vel risus vitae justo malesuada auctor. Ut diam libero, tincidunt non nibh non, porttitor elementum dui. Donec blandit magna ornare mi tincidunt, rutrum interdum lacus rhoncus. Morbi sed imperdiet lacus, vitae placerat velit. Sed nec tellus vehicula, mattis lectus eu, convallis magna. Fusce est felis, dictum ac bibendum sed, vehicula malesuada diam. Etiam lacinia urna eget nibh accumsan, sed feugiat dui egestas. Duis laoreet est a malesuada tempus. Vivamus quis aliquam lacus. Aenean aliquam ipsum fermentum, sagittis neque non, suscipit lorem. Sed eu posuere est. Cras quis justo eget velit dapibus rhoncus. Curabitur tortor libero, elementum in nibh imperdiet, rutrum mollis lectus."
-#    .orbit-caption ...
-#  %li
-#    .orbit-caption ...
