#home
  -if current_user.nil?
    .row
      .large-13.columns
        %h2#index-title= t'static_pages.home.title.subheader'
    .row
      .large-8.columns
        %h4=t'static_pages.home.documents.title'
      .large-8.columns
        %h4=t'static_pages.home.work_groups.title'
      .large-8.columns
        %h4=t'static_pages.home.advertisements.title'

