-#<h1><%= t('static_pages.home.h1.title', app_name: t('app_name'))%></h1>
-#<% if user_signed_in? %>
-#    <%= link_to current_user.name, edit_user_registration_path %>
-#<% else %>
-#    <%= link_to "Inscription", new_user_registration_path, class: "button success" %>
-#    <%= link_to "Connexion", new_user_session_path, class: "button" %>
-#<% end %>

%h1= t('static_pages.home.h1.title', app_name: t('app_name'))

-if user_signed_in?
  =link_to(current_user.name, edit_user_registration_path)
-else
  =link_to t("static_pages.home.h1.inscription"), new_user_registration_path, class: "button success"
  =link_to t("static_pages.home.h1.connection"), new_user_session_path, class: "button"
%h3 Administrations:
%p
  pour essayer en mode super administrateur, utiliser le compte admin@example.com et le mot de passe password
%p
  pour voir les fonctionalités du site rendez-vous sur la page
  =link_to "A propos", about_path
%p
  désolé, tout n'est pas traduit...
%p
  normalement seulement une partie du menu doit s'afficher suivant les rôles de l'utilisateur. Ce n'est pas encore fait
%label ça vaut la peine de cliquer sur le champ de texte
%input{type: "text", class: 'datepicker'}
%p.toggle En une seule ligne de code