.row.conversation_index
  -if conversation.is_unread?(current_user)
    -unread = 'unread'
  -else
    -unread = 'read'
  .small-12.columns
    %h5=link_to conversation.subject, message_path(conversation)
    %dl.sub-nav
      %dt=t'messages.index.with'
      -conversation.recipients.each do |r|
        -unless r==current_user
          %dd=link_to(r.to_s, r)
    %blockquote.message{class:unread}
      .row
        .large-1.columns.hide-for-small
          %a{href: message_path(conversation),class: 'th'}
            =image_tag conversation.last_message.sender.avatar
        .large-11.columns
          %h6.subheader=simple_format(truncate(conversation.last_message.body, length: 50))
          %cite
            =link_to(conversation.last_message.sender.to_s, conversation.last_message.sender)
            %span{title: l(conversation.last_message.created_at, format: :long)}
              =t'messages.show.since'
              =time_ago_in_words(conversation.last_message.created_at)
    -#%p.subheader
    -#  %span{title: l(conversation.last_message.created_at, format: :long)}
    -#    =t'messages.show.since'
    -#    =time_ago_in_words(conversation.last_message.created_at)
%hr/