=simple_form_for(@advertisement_sale_book, html: {class: 'custom', data_abide: true}) do |f|
  =f.error_notification
  .form-inputs
    =f.association :users#, collection: User
    =f.input :subject
    =f.input :body

  .form-actions
    =f.button :submit, t('sale_books.edit.forms.submit')

