=simple_form_for(@message, :url => messages_path, html: {class: 'custom', data_abide: true}) do |f|
  =f.error_notification
  .form-inputs
    .hide#placeholder_user_ids=t("messages.new.forms.tooltips.users")

    =f.input :user_ids, :as => :hidden, input_html: { class: 's2_users_select'}#, label_html: tooltip(t("messages.new.forms.tooltips.users"))
    =f.input :subject
    =f.input :body, input_html: {rows: 10}, as: :text

  .form-actions
    =f.button :submit, t('messages.new.forms.submit')

