=simple_form_for(@message, html: {class: 'custom'}) do |f|
  =f.error_notification
  .form-inputs
    =f.association :users, prompt: t('document.documents.form.choose_study_level')#, collection: Document::User.name_to_show
    =f.input :subject
    =f.input :body, input_html: {rows: 3}
  .form-actions
    =f.button :submit, t('document.documents.form.submit')
  =@message.inspect
  =@message.users.inspect