=simple_form_for(@message, :url => messages_path, html: {class: 'custom', data_abide: true}) do |f|
  =f.error_notification
  .form-inputs
    =f.association :users, label_html: tooltip(t("messages.new.forms.tooltips.users"))
    =f.input :subject
    =f.input :body, input_html: {rows: 10}

  .form-actions
    =f.button :submit, t('messages.new.forms.submit')

