%h1= t('messages.new.h1_title')

-#=render(partial: 'form', :layout => 'layout_messages', :locals => {:conversations => @conversations})
.row
  .large-4.columns
    =render 'messages_menu'
  .large-20.columns
    =render('form')