=render(:layout => 'layout_messages') do
  .row
    .small-12.columns
      .row
        .small-12.columns
          %h1= @conversation.subject
          %dl.sub-nav
            %dt=t'messages.show.participants'
            -@conversation.recipients.each do |r|
              -unless r==current_user
                %dd=link_to(r.to_s, r)
      .row
        .small-12.colums
          #show_messages
            -@receipts.each do |r|
              -if r.mailbox_type == 'sentbox'
                -is_sender= 'sender'
              -else
                -is_sender= 'receiver'
              -if r.is_unread?
                -unread = 'unread'
              -else
                -unread = 'read'
              %blockquote.message{class: "#{is_sender} #{unread}"}
                .row
                  .large-1.columns.hide-for-small
                    %p=image_tag r.message.sender.avatar
                  .large-11.columns
                    =simple_format(r.message.body)
                    %cite
                      =link_to(r.message.sender.to_s, r.message.sender)
                      %span{title: l(r.created_at, format: :long)}
                        =t'messages.show.since'
                        =time_ago_in_words(r.created_at)
              %hr

          -@conversation.mark_as_read current_user

          -#formulair de réponse
          =form_tag(controller: 'messages', action: 'reply') do
            =text_area_tag(:reply, nil, rows: 6, placeholder: t('messages.index.reply'))
            =hidden_field_tag(:conversation, @conversation.id)
            =submit_tag(t('messages.index.submit'))
