// Place all the styles related to the advertisement/advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import 'foundation_and_overrides';


// SHOW <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
.sale_book_title {
  font-size: emCalc(30px)
}
#book_infos {
  #book_description{
    // Peut être pour mettre le show less/more
  }
  font-size: 1em;
  //font-weight: normal;
  h3{
    font-size: 1em;
  }
  h4 {
    font-weight: normal;
    font-size: 1em;
  }
}
