-content_for :title, t('groups.index.title_page')

=link_to t('groups.index.new_link'), new_group_group_path, class: 'button expand'

-if @group.empty?
  %p= t 'groups.index.no_group'
-else
  .row
    .small-12.columns.paginate
      =paginate @group
    .small-12.columns#groups
      %ul.large-block-grid-2
        -@parity=0
        =render @group
    .small-12.columns.paginate
      =paginate @group
