=raw(t('activity.group_work_group.joined', owner: show_owner(activity.owner)))
- if activity.trackable
  - if specification == nil
    #{link_to activity.trackable.name, activity.trackable}.
- else
  #{t'activity.group_work_group.not_exist'}.