=raw(t('activity.repo_folder.update', owner: show_owner(activity.owner)))
- if activity.trackable
  #{link_to activity.trackable.name, activity.trackable}.
- else
  #{t'activity.repo_folder.not_exist'}.