=raw(t('activity.repo_folder.update', owner: link_to(h(activity.owner.name), activity.owner)))
- if activity.trackable
  #{link_to activity.trackable.name, activity.trackable}.
- else
  #{t'activity.repo_folder.not_exist'}.