.columns.small-12
  %h6.subheader
    -if comment.owner.nil?
      =t('group.topics.index.comment.no_author')
    -else
      =image_and_name_for comment.owner
      =t('group.topics.index.time_ago', time_ago: time_ago_in_words(comment.created_at))
  %p= sanitize(comment.comment).html_safe
  %hr