=simple_form_for @comment do |f|
  .hide
    =hidden_field_for_polymorphic 'comment', object
  .row
    .columns.large-24
      =f.input :comment, label: false, input_html: {class: 'tinymce', id: "comment_comment_#{object.id}"}, placeholder: t('group.topics.index.comment.form')
      %br
  .row
    .columns.large-24
      =f.button :submit, submit_text, class: 'tiny'