<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @member_status.message %>
</p>


<%= link_to 'Edit', edit_member_status_path(@member_status) %> |
<%= link_to 'Back', member_statuses_path %>
