-content_for :title, t('advertisements.index.meta_title')
.row
  .small-12.columns
    %h1= t 'advertisements.index.title'
.row
  .small-12.columns.large-6
    =create_link(Advertisement::Advertisement, t('advertisements.index.new_link'), 'expand')

-if @advertisement.empty?
  %p= t 'advertisements.index.no_advertisement'
-else
  .row.hide-for-small
    .small-12.columns#paginate
      -#=paginate @advertisement, remote: true
  .row
    .large-4.columns.push-8.small-12
      =field_set_tag t('advertisements.index.forms.search.fieldset') do
        =hidden_field_tag :auto_complete_url, autocomplete_advertisement_advertisements_path
        %form{action: search_advertisement_advertisements_path, method: :get, class: 'custom'}
          =label_tag :search, t('advertisements.index.forms.search.fieldset')
          =search_field_tag :search, @searched_value
          =submit_tag t('advertisements.index.forms.search.submit'), class: 'button secondary expand', name: nil, id: 'go-search'
    .small-12.large-8.columns.pull-4#advertisements
      =render @advertisement