.row
  .small-12.columns
    %h1= t 'advertisements.new.title'
.row
  .small-12.columns
    %p=t'advertisements.new.description'
.row
  .small-12.columns.large-6
    =link_to t("advertisements.new.sale_book"), :controller => 'advertisement/sale_books', :action => 'new'
.row
  .small-12.columns.large-6

