.row
  .small-24.columns
    %h1= t 'advertisements.new.title'
.row
  .small-24.columns
    %p=t'advertisements.new.description'
.row
  .small-24.columns.large-12
    =link_to t("advertisements.new.sale_book"), new_advertisement_sale_book_path
.row
  .small-24.columns.large-12

