<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @user_friend_demand.message %>
</p>


<%= link_to 'Edit', edit_user_friend_demand_path(@user_friend_demand) %> |
<%= link_to 'Back', user_friend_demands_path %>
