.row
  .small-24.columns
    %h1= t('notifications.index.title_page')
.row
  .small-24.columns
    -if @notifications.empty?
      %p= t'notifications.index.no_notification'
    -else
      =paginate @notifications
      =render partial: 'notification', collection: @notifications
      =paginate @notifications