=raw(t('activity.advertisement.create', owner: show_owner(activity.owner)))
- if activity.trackable
  - if specification == nil
    #{link_to activity.trackable.title, activity.trackable}.
- else
  #{t'activity.advertisement.not_exist'}.