=form_tag(new_repository_manager_repo_file_path, :method => :post, multipart: true) do
  =label_tag t('repository_manager.form.new.repo_file.file')
  =file_field_tag :repo_file_file
  =hidden_field_tag("object[class]", object.class.base_class.to_s)
  =hidden_field_tag("object[id]", object.id)
  -if repo_item
    =hidden_field_tag("repo_item[id]", repo_item.id)
  =submit_tag(t('repository_manager.form.new.repo_file.submit'), class: "button")