%ul.side-nav
  %li=link_to(t('users.menu.edit'), edit_user_registration_path(@user), class: 'small button secondary') if can?(:update, @user)
  %li.divider
  %li=link_to(t('users.menu.documents'), user_documents_path(@user))
  %li=link_to(t('users.menu.advertisements'), user_advertisements_path(@user))