-#content_for :title, t('users.show.meta_title', user: @user.name_to_show)
-content_for :title, t('users.advertisements.meta_title', user: @user.name_to_show)

=render(:layout => 'layout') do
  %h1= t'users.advertisements.title', user: @user.name_to_show
  -if @user.advertisements.empty?
    =t'users.advertisements.no-advertisement', user: @user.name_to_show
  -else
    -#%table
    -#  %thead
    -#    %tr
    -#      %th= t'users.advertisements.table.title'
    -#      %th= t'users.advertisements.table.type'
    -#  %tbody
    =render @user.advertisements