-#content_for :title, t('users.show.meta_title', user: @user.name_to_show)
-content_for :title, t('users.documents.title', user: @user.to_s)

=render(:layout => 'layout') do
  %h1= t'users.documents.title', user: @user.to_s
  -if @user.documents.empty?
    =t'users.documents.no-document', user: @user.to_s
  -else
    .row.columns
      %ul.large-block-grid-2#documents
        -@parity=0
        =render @user.documents