
-content_for :title, t('users.show.meta_title', user: @user.to_s)
=render(:layout => 'layout') do
  %h1= @user.name
  %p.subheader
    %span{title: l(@user.created_at, format: :long)}
      =t'users.show.since'
      =time_ago_in_words(@user.created_at)
  %p=image_tag @user.avatar
  =t'users.show.posted_advertisement', nb: @user.advertisements.count
  %br
  =t'users.show.posted_documents', nb: @user.documents.count