<h1>Listing user_friend_friends</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_friend_friends.each do |user_friend_friend| %>
  <tr>
    <td><%= link_to 'Show', user_friend_friend %></td>
    <td><%= link_to 'Edit', edit_user_friend_friend_path(user_friend_friend) %></td>
    <td><%= link_to 'Destroy', user_friend_friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friend', new_user_friend_friend_path %>
