<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @user_group_demand.message %>
</p>


<%= link_to 'Edit', edit_user_group_demand_path(@user_group_demand) %> |
<%= link_to 'Back', user_group_demands_path %>
