=simple_form_for(@document, :validate => :javascript_validators, html: {multipart: true, class: 'custom'}) do |f|
  =f.error_notification
  .form-inputs
    =f.input :title
    =f.input :description, input_html: {rows: 3}
    -if @document.files.empty? or @document.files.first.id.nil?
      -@document.files.build if @document.files.empty?
      =f.simple_fields_for :files do |file|
        =file.input :file
    =f.input :author
    =f.input :number_of_pages, default: 1
    =f.input :realized_at, as: :ui_date_picker, required: true
    =f.input :language, collection: languages_list, prompt: t("document.documents.form.choose_language")
    =f.association :study_level, prompt: t('document.documents.form.choose_study_level'), collection: Document::StudyLevel.includes(:translations)
    =f.association :document_type, prompt: t('document.documents.form.choose_document_type'), collection: Document::Type.includes(:translations)
    =f.association :domains, collection: Domain.select_tree
  .form-actions
    =f.button :submit, t('document.documents.form.submit')
=debug @document.files.first.inspect