.row
  .columns.small-12
    .row
      .small-12.large-9.columns
        %h1#doc-title-index= t 'document.documents.index.title'
        %blockquote Téléchargez tous les documents que vous voulez. C'est gratuit à volonté et pour tous.
      .small-12.large-3.columns#new-book
        =create_link(Document::Document, t('document.documents.index.new_link'), 'expand')
    / Formulaire de recherche
    .row
      .small-12.columns
        %form{action: document_documents_path, method: :get, class: 'custom'}
          .row.collapse
            .large-3.small-11.columns
              =label_tag :search, t('document.documents.index.forms.search.label'), id: 'important-label'
            .large-1.small-1.columns
              =link_to('', '#', class: 'button secondary prefix fi-zoom-in medium', id: 'show_advanced_search')
            .large-7.small-9.columns
              =search_field_tag :search, @searched_value, autofocus: true, placeholder: t('document.documents.index.search_placeholder')
            .large-1.small-3.columns
              =submit_tag t('document.documents.index.forms.search.submit'), class: 'button secondary prefix', name: nil, id: 'go-search'
    .row.hide#advanced_search
      .small-12.columns
        %fieldset
          %legend= t('.fieldset_legend.advanced_search')
          %form{action: search_document_documents_path, method: :get}
            =hidden_field_tag :url_for_order, @url_for_js
            =hidden_field_tag :url_for_ajax, @url_for_js
            =hidden_field_tag :auto_complete_url, autocomplete_document_documents_path
            .row
              .large-3.small-12.columns
                =label_tag :type, t('document.documents.index.forms.order.label_type')
                =select_tag :type, options_from_collection_for_select(Document::Type.includes(:translations).order('name ASC'), :id, :name), prompt: t('document.documents.index.forms.order.select_type'), class: 's2'
              .large-3.small-12.columns
                =label_tag :domains, t('document.documents.index.forms.order.label_domains')
                =select_tag :domains, options_from_collection_for_select(Domain.includes(:translations).order('name ASC'), :id, :name), prompt: t('document.documents.index.forms.order.select_domains'), class: 's2'
              .large-3.small-12.columns
                =label_tag :order, t('document.documents.index.forms.order.label_order')
                =select_tag :order, options_for_select([[t('document.documents.index.forms.order.select.newest'), 0], [t('document.documents.index.forms.order.select.notest'), 2], [t('document.documents.index.forms.order.select.hits'), 3], [t('document.documents.index.forms.order.select.alphabetic'), 1]]), class: 's2'
              .large-3.small-12.columns
                =label_tag :datepicker, t('document.documents.index.forms.order.label_datepicker')
                =text_field_tag :datepicker, nil, class: :datepicker
            %input{type: 'submit', value: 'Afficher', id: 'print-criter'}
    /afficher la pagination à cet endroit seulement pour les ordis
    .row
      .small-12.columns#paginate
        =paginate @document_documents, remote: true
    /le contenu
    .row
      %p#no-doc
      / les documents
      .small-12.columns
        -if @document_documents.empty?
          %p= t 'document.documents.index.no_document'
        -else
          .row.columns
            %ul.large-block-grid-3#documents
              -@parity=0
              = render @document_documents, count: @document_documents.size
