.row
  .small-12.columns
    %h1= t 'documents.index.title'
    %p#no-doc
.row
  .small-12.columns.large-6
    =create_link(Document::Document, t('documents.index.new_link'), 'expand')

-if @document_documents.empty?
  %p= t 'documents.index.no_document'
-else
  -#FIXME: la pagination ne marche pas quand on séléction un domaine -> ça marche en principe
  -#FAIT: ajouter deux options de tris: classé par: notes et classer par: hits => seul les documentés pour les quels on a voté sont affichés
  -#FAIT: téléchargement du document depuis la page d'index -> important!!!
  -#TODO: autocomplétion, recherche -> important!!!
  -#TODO: utiliser friendlyid pour les urls
  -#TODO: réseaux sociaux sous les hits, facile, manque les droits
  -#TODO: fil d'arianne -> juste avant ou après la sortie, important aussi pour bien naviguer.
  -#TODO: afficher plus de la recherche à volonté pour petit écran -> après mise en ligne
  -#TODO: Penser à lier le dropdown avec la navigation entre les domaines. Dropdown dans le fil d'arianne ?
  -#TODO: déroulement infin -> plus tard
  -#TODO: afficher une screeshot de chaque document.
  -#TODO: remplir la colonne de droite de trucs et de machins
  -#TODO: De Yves: Faire que si on cherche dans un domaine, ça inclu ses sous domaines
  .row.hide-for-small
    .small-12.columns#paginate
      =paginate @document_documents, remote: true
  .row
    .large-4.columns.push-8.small-12
      %fieldset
        %form{action: search_document_documents_path, method: :get}
          =label_tag :search, t('documents.index.forms.search.label')
          =search_field_tag :search
          =submit_tag t('documents.index.forms.search.submit'), class: 'button success expand', name: nil
      %fieldset
        =hidden_field_tag :url_for_order, @url_for_js
        .row.hide-for-small
          .small-6.columns

            =label_tag :type, t('documents.index.forms.order.label_type')
            =select_tag :type, options_from_collection_for_select(Document::Type.includes(:translations).order('name ASC'), :id, :name), prompt: t('documents.index.forms.order.select_type')
          .small-6.columns
            =label_tag :domains, t('documents.index.forms.order.label_domains')
            =select_tag :domains, options_from_collection_for_select(Domain.includes(:translations).order('name ASC'), :id, :name), prompt: t('documents.index.forms.order.select_domains')
        .row.hide-for-small
          .small-6.columns
            =label_tag :order, t('documents.index.forms.order.label_order')
            =select_tag :order, options_for_select([[t('documents.index.forms.order.select.newest'), 0], [t('documents.index.forms.order.select.notest'), 2], [t('documents.index.forms.order.select.hits'), 3], [t('documents.index.forms.order.select.alphabetic'), 1]])
          .small-6.columns
            =label_tag :datepicker, t('documents.index.forms.order.label_datepicker')
            =text_field_tag :datepicker, nil, class: :datepicker
    .small-12.large-8.columns.pull-4#documents
      =render @document_documents