%h2= @document.title
%h4.doc-subtitle= raw t('documents.show.subtitle', doc_subtitle: doc_sub_title(@document), author: @document.author)
%p= @document.description
.row
  .columns.small-12.large-4
    =link_to t('documents.index.download'), document_document_download_path(@document), class: 'button success expand'
  .columns.small-12.large-4
    =edit_link @document, t('documents.show.modify'), 'expand'
  .columns.small-12.large-4
    =destroy_link @document, t('documents.show.delete'), 'expand'
