.columns.small-24.items
  %h6.subheader
    -if comment.user.nil?
      =t('group.topics.index.comment.no_author')
    -else
      =image_and_name_for comment.user
      =t('group.topics.index.time_ago', time_ago: time_ago_in_words(comment.created_at))
    =link_to t('delete'), group_work_group_topic_comment_path(@group, topic, comment), class: 'button tiny alert', method: :delete, confirm: t('confirm') if defined? topic
  %p= s(comment.comment).html_safe
  %hr