.columns.small-24
  .panel.items
    %h6.subheader
      -if not topic.title.blank?
        %strong=topic.title
      -if topic.user_writer.nil?
        =t('group.topics.index.no_author')
      -else
        =t('group.topics.index.author')
        =raw(image_and_name_for topic.user_writer)
      = t('group.topics.index.time_ago', time_ago: time_ago_in_words(topic.created_at))

      -#= link_to(t('group.statuses.index.edit'), '#', class: 'button small secondary')
      = link_to(t('group.statuses.index.delete'), group_work_group_topic_path(@group, topic), class: 'button small secondary', method: :delete, confirm: t('confirm'))
    .row
      .columns.small-22.push-1
        -collection = topic.comments
        -if limit.is_a? Fixnum and limit > 0
          -collection = collection[0..limit]
        =render partial: 'comment', collection: collection, as: 'comment', topic: topic
        =render 'comments/form', submit_text: t('group.topics.index.reply'), object: topic
        -if limit.is_a? Fixnum and topic.comments.size >= limit
          = link_to t('group.topics.index.show_more'), group_work_group_topic_path(id: topic)