=render(layout: 'group/layouts/layout') do
  -add_breadcrumb t("group.work_groups.menu.topics"),  group_work_group_topics_path(@group)
  -add_breadcrumb l(@topic.created_at, format: :short) + @topic.title.to_s,  group_work_group_topic_path(work_group_id: @group, id: @topic)
  %h1= t('group.topics.show.h1_title', date: l(@topic.created_at, format: :short))
  %h3= @topic.title if @topic.title
  .row
    .columns.small-24
      .panel.topics
        %h6.subheader
          -if not @topic.title.blank?
            %strong= @topic.title
          -if @topic.writer.nil?
            =t('group.topics.index.no_author')
          -else
            =t('group.topics.index.author')
            =raw(image_and_name_for @topic.writer)
          = t('group.topics.index.time_ago', time_ago: time_ago_in_words(@topic.created_at))
          -#= link_to(t('group.statuses.index.edit'), '#', class: 'button small secondary')
          -#= link_to(t('group.statuses.index.delete'), '#', class: 'button small secondary')
        .row
          .columns.small-22.push-1
            =render 'comments/form', submit_text: t('group.topics.index.reply'), object: @topic
            #infinite-scroll
              .page
                =render partial: 'comment', collection: @comments, as: 'comment', locals: {topic: @topic}
                =s(@topic.message).html_safe
            =paginate @comments