=form_tag(create_folder_group_work_group_repo_items_path(object, format: :json), :method => :post, remote: true, id: 'form_folder') do
  .row
    .large-12.columns
      =text_field_tag('repo_folder[name]', nil, placeholder: t('repository_manager.models.repo_folder.name'))
    .large-12.columns
      =submit_tag(t('repository_manager.form.new.repo_folder.submit'), class: "button tiny")
  -#=hidden_field_tag("object[id]", object.id)
  -folder_id = (repo_item.nil? ? nil : repo_item.id)
  =hidden_field_tag('repo_folder[id]', folder_id, class: 'repo_item_id')
