=form_tag(create_file_group_work_group_repo_items_path(object, format: :json), :method => :post, multipart: true, remote: true, id: 'file-uploader') do
  .row
    .small-12.columns
      =file_field_tag 'repo_file[file]', multiple: false
    .small-12.columns
      .row#all-progress-bar
      %noscript
        =submit_tag(t('repository_manager.form.new.repo_file.submit'), class: "button tiny", id: 'submit-file-form')
  -#=hidden_field_tag("object[class]", object.class.base_class.to_s)
  -#=hidden_field_tag("object[id]", object.id)
  =hidden_field_tag 'authenticity_token', form_authenticity_token
  -folder_id = (repo_item.nil? ? nil : repo_item.id)
  =hidden_field_tag('repo_file[id]', folder_id)