-content_for :title, t('group.repository.title_page', group: @group.name)
-get_repo_items
=render(:layout => 'group/layouts/layout') do
  -add_breadcrumb t('group.work_groups.menu.repository'), group_work_group_repo_items_path(@group)
  %h1= t('group.repository.title_page', group: @group.name)
  #breadcrumb-folder
    %ul.breadcrumbs
      %li.current=link_to t('group.work_groups.menu.repository'), group_work_group_repo_items_path(@group)+'.json', id: 'root_folder', 'data-remote' => true
  .row
    .small-12.columns.hide#press-paper
      .panel
        %h5 Presse-papier
        #press-paper-content
    .small-12.columns
      .panel
        .row
          .large-6.columns
            %h5.panel-subtitle= t'repository_manager.form.new.repo_file.title'
            =render 'form_file', object: @group, repo_item: nil
          .large-6.columns
            %h5.panel-subtitle= t'repository_manager.form.new.repo_folder.title'
            =render 'form_folder', object: @group, repo_item: nil
    .small-12.columns
      .panel#panel-items
        .p
          = t('group.groups.index.loading')
          =image_tag 'loading.gif'
        -#-if @repo_item.empty?
        -#  %p=t'group.groups.repo_item.empty.root'
        -#-else
        -#  =render partial: 'repo_item', locals: {object: @group}, collection: @repo_item
