-content_for :title, t('group.work_groups.edit.title_page', group: @group.name)
%h1= t('group.work_groups.edit.title_page', group: @group.name)

=render(:layout => 'group/layouts/layout') do
  =render 'full_form', edit: true