-content_for :title, @group.name
=render(:layout => 'group/layouts/layout') do
  %h1= @group.name
  .row
    .columns.small-24
      - @activities.each do |activity|
        .activity
          -# :specification says if it is specific for group or general, etc
          = render_activity activity, layout: 'activity', locals: {specification: :group}
