// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";

#main-content {
  min-height: emCalc(850px);
}

$font-size : 1.1em;

::-webkit-input-placeholder { font-size:$font-size; }
::-moz-placeholder { font-size:$font-size; } /* firefox 19+ */
:-ms-input-placeholder { font-size:$font-size; } /* ie */
input:-moz-placeholder { font-size:$font-size; }

.signup-panel { @include panel(#4b4b4b);
  padding-bottom: 0px;
  .center-to-form {
    padding-bottom: 50px;
    padding-top: 25px;
  }
}

.last-title {
  background-color: #4b4b4b;
  padding-left: emCalc(10px);
  color: white;
  margin-bottom: 0px;
  padding-top: emCalc(5px);
  padding-bottom: emCalc(5px);
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

#news {
  background-color: $panel-news-color;
}

#ads {
  background-color: $panel-ads-color;
}

#doc {
  background-color: $panel-document-color;
}

.last-panel { @include panel($panel-bg);
  ul {
    padding-left: emCalc(20px);
  }
  li {
    a {
      color: lighten($header-font-color, 5%);
    }
    a:hover {
      color: $primary-color;
    }
  }
}

$footer-middle-color: lighten($footer-background-color, 20%);
$footer-end-color: lighten($footer-background-color, 30%);

#footer {
  min-width: 100%;
}

#partners {
  h4 {
    a {
      color: black;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

.connected-panel {
  background-color: #090909;
  min-height: emCalc(310px);
  h2, h3, p, h4, ul, li {
    color: white;
    font-family: Savoye LET;
    font-size: 2.5em;
    font-weight: normal;
  }

  h2 {
    text-decoration: underline;
    font-size: 3em;
  }

  ul, li {
    font-size: 1.3em;
  }
  .user {
    padding-top: emCalc(230px);
  }
  margin-bottom: emCalc(25px);
}

footer {
  .panel { @include panel($footer-background-color);
    border: none;
    background: url('home/footer_bg.png') repeat-x;
    li {
      list-style: none;
    }
    a {
      color: black;
    }
    a:hover {
      color: $primary-color
    }
    .row {
      max-width: $row-width;
      margin: auto;
    }
  }
}

