-content_for :mail_title do
  =t('mailer.group.new_invitation.subject', user: @user.to_s, group: @group.to_s)

-unless @message.blank?
  %h4= t('mailer.group.new_invitation.message')
  .panel
    =@message
%p
  = t('mailer.group.new_invitation.html.description', link: link_to(t('mailer.group.new_invitation.join_group'), group_work_group_email_invitations_url(work_group_id: @group.id, id: @email_id, secret_token: @secret_token))).html_safe
