=form_tag(create_file_group_work_group_repositories_path(object), :method => :post, multipart: true) do
  .row
    .large-6.columns
      =file_field_tag :repo_file_file
    .large-6.columns
      =submit_tag(t('repository_manager.form.new.repo_file.submit'), class: "button tiny")
  -#=hidden_field_tag("object[class]", object.class.base_class.to_s)
  -#=hidden_field_tag("object[id]", object.id)
  -if repo_item
    =hidden_field_tag("repo_item", repo_item.id)