// Place all the styles related to the Document::Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

.index-document {
  h1 {
    a {
      color: $header-font-color;
      font-size: emCalc(10px);
      line-height: 0.5em;
    }
    margin-bottom: emCalc(5px);
    line-height: .85em;
    a:hover {
      text-decoration: underline;
      color: $header-font-color;
    }
  }
  .doc-subtitle {
    margin-top: $subheader-top-margin;
    margin-bottom: $subheader-bottom-margin;
    color: $document-subtitle-color;
    font-weight: $subheader-font-weight;
    a {
      color: $document-subtitle-color;
      font-weight: $subheader-font-weight;
    }
    a:hover {
      color: $primary-color;
    }
  }
}