// Place all the styles related to the Document::Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

.index-document {
  h1 {
    a {
      color: $header-font-color;
      font-size: emCalc(10px);
      line-height: 0.5em;
    }
    margin-bottom: emCalc(5px);
    line-height: .85em;
    a:hover {
      text-decoration: underline;
      color: $header-font-color;
    }
  }
  .doc-subtitle {
    margin-top: $subheader-top-margin;
    margin-bottom: $subheader-bottom-margin;
    color: $document-subtitle-color;
    font-weight: $subheader-font-weight;
    a {
      color: $document-subtitle-color;
      font-weight: $subheader-font-weight;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

.panel-subtitle {
  margin-top: $subheader-top-margin;
  margin-bottom: $subheader-bottom-margin;
  font-size: emCalc(20px);
  a {
    color: #000000;
  }
  a:hover {
    color: $primary-color;
  }
}

.wrap-text {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.suggestion-panel { @include panel(#f9fbff, $panel-padding, true);
  border-color: #f5f5f9 1px;
  ul {
    list-style: none;
  }
  ul li:before {
    content: "\2192 \0020";
  }
}
