// Place all the styles related to the Document::Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

.doc-subtitle {
  color: $document-subtitle-color;
  a {
    color: $document-subtitle-color;
  }
  a:hover {
    color: $primary-color;
  }
}

span{
  //YVES : Merci d'utiliser <strong> pour le gras :)
  //font-weight: bold;
}
