=simple_form_for(@advertisement_sale_book) do |f|
  =f.error_notification
  .form-inputs
    =field_set_tag t('sale_books.new.forms.required') do
      =f.simple_fields_for @advertisement_sale_book.book do |p|
        =p.input :isbn_13
      =f.input :price
      =f.input :currency
    #show_hide_button
      Plus de détails sur la vente !
    #form_to_hide{ :style => "display: none"}
      =field_set_tag t('sale_books.new.forms.optional') do
        =f.association :payment_modes, prompt: t('sale_books.new.forms.choose_payment_mode'), collection: Advertisement::PaymentMode.includes(:translations)
        =f.association :delivery_modes, prompt: t('sale_books.new.forms.choose_delivery_mode'), collection: Advertisement::DeliveryMode.includes(:translations)

        =f.input :state
        =f.input :annotation
        =f.input :description, input_html: {rows: 3}

        =f.association :domains, collection: Domain.select_tree
        /=f.association :study_level, prompt: t('documents.form.choose_study_level'), collection: Document::StudyLevel.includes(:translations)
  .form-actions
    =f.button :submit, t('sale_books.new.forms.submit')
:javascript
  $(document).ready(function() {
    alert("I'm loaded!");
  });
  window.onload = function() {
      if (window.jQuery) {
          // jQuery is loaded
          alert("Yeah!");
      } else {
          // jQuery is not loaded
          alert("Doesn't Work");
      }
  }
  $('button').click(function() {
    alert('Hello world!');
    $('#book').show('slow', function() {
      // Animation complete.
    });
  });
  $("#show_hide_button").click(function () {
    alert('Hello world!');
    $("#form_to_hide").show('slow');
  });
