-#TODO : Ajouter des tooltips foundation
=simple_form_for(@advertisement_sale_book, :validate => :javascript_validators, html: {class: 'custom'}) do |f|
  =f.error_notification
  .form-inputs
    =field_set_tag t('sale_books.new.forms.required') do
      =f.simple_fields_for @advertisement_sale_book.book do |p|
        -if !edit
          =p.input :isbn_13, input_html: {id: 'book_isbn'}, label_html: tooltip(t("sale_books.new.forms.tooltips.isbn"))
        -disabledTitle = false
        -hideBookTitle = ''
        -if !edit
          -# On est dans la création, on affiche les champs de titre et autheur si on doit
          -if @advertisement_sale_book.book.isbn_13
            -if !@advertisement_sale_book.book.isbn_13.empty? && !@advertisement_sale_book.book.authors.empty? && !@advertisement_sale_book.book.title.empty?
              -disabledTitle = true
          -else
            -hideBookTitle = 'hide'
        -else
          -disabledTitle = true
        #book_title_to_hide{class: hideBookTitle}
          =hidden_field_tag 'ajax_path', new_advertisement_sale_book_path(:format => :json)
          =hidden_field_tag 'ajax_book_isbn_error', t('sale_books.new.forms.valid_isbn')
          =hidden_field_tag 'ajax_book_isbn_other_solution', t('sale_books.new.forms.other_solution')
          .row
            .large-6.columns
              =p.input :title, input_html: {id: 'book_title'}, disabled: disabledTitle
            .large-6.columns
              =p.input :authors, input_html: {id: 'book_authors'}, disabled: disabledTitle

      .row
        .small-12.columns
          .row
            =f.input :price, label_html: tooltip(t("sale_books.new.forms.tooltips.price")), wrapper_html: {class: 'columns small-4'}
            =f.input :currency, prompt: t('simple_form.prompts.advertisement_sale_book.currency'), wrapper_html: {class: 'columns large-4 small-8'}, label_html: tooltip(t("sale_books.new.forms.tooltips.currency"))
            .columns.small-4
      -if !edit
        #more_details
          =label_tag :more_details, t('sale_books.new.forms.details_label'), tooltip(t("sale_books.new.forms.tooltips.details"))
          .switch
            =radio_button_tag :x, 'no', true
            =label_tag :x, t('sale_books.new.forms.more_details')
            =radio_button_tag :x, 'yes'
            =label_tag :x, t('sale_books.new.forms.less_details')
            %span
    -if !edit
      -hideOptional = 'hide'
    -else
      -hideOptional = ''
    #form_to_hide{class: hideOptional}
      %fieldset
        %legend{class: "has-tip tip-top", title: t("sale_books.new.forms.tooltips.optional"), 'data-tooltip' => ''}= t('sale_books.new.forms.optional')
        =f.input :payment_modes, label_html: tooltip(t("sale_books.new.forms.tooltips.payment_modes")), :as => :check_boxes
        %br
        =f.input :delivery_modes, label_html: tooltip(t("sale_books.new.forms.tooltips.delivery_modes")), :as => :check_boxes
        %br

        =f.input :state, prompt: t('simple_form.prompts.advertisement_sale_book.state')
        =f.input :annotation, prompt: t('simple_form.prompts.advertisement_sale_book.annotation'), label_html: tooltip(t("sale_books.new.forms.tooltips.annotation"))
        =f.input :title, label_html: tooltip(t("sale_books.new.forms.tooltips.title"))
        =f.input :description, label_html: tooltip(t("sale_books.new.forms.tooltips.description")), input_html: {rows: 3}

        =f.association :domains, collection: Domain.select_tree, label_html: tooltip(t("sale_books.new.forms.tooltips.domain"))
        =f.association :study_level, prompt: t('documents.form.choose_study_level'), collection: Document::StudyLevel.includes(:translations),  label_html: tooltip(t("sale_books.new.forms.tooltips.study_level"))
  .form-actions
    -if edit
      =f.button :submit, t('sale_books.edit.forms.submit')
    -else
      =f.button :submit, t('sale_books.new.forms.submit')

