=simple_form_for(@advertisement_sale_book, html: {class: 'custom'}) do |f|
  =f.error_notification
  .form-inputs
    =field_set_tag t('sale_books.new.forms.required') do
      -if !edit
        =f.simple_fields_for @advertisement_sale_book.book do |p|
          =p.input :isbn_13
      .row
        .small-12.columns
          .row.collapse
            =f.input :price, wrapper_html: {class: 'columns small-10 large-10'}
            =f.input :currency, wrapper_html: {class: 'columns small-2 large-2'}, prompt: t('advertisements.form.choose')
      -if !edit
        #more_details
          .small-2
            =label_tag :more_details, t('sale_books.new.forms.more_details'), class: :right
          .small-10
            =check_box_tag :more_details
    -if !edit
      -hide = 'hide'
    -else
      -hide = ''
    #form_to_hide{class: hide}
      =field_set_tag t('sale_books.new.forms.optional') do
        =f.input :payment_modes, :as => :check_boxes
        =f.input :delivery_modes, :as => :check_boxes

        =f.input :state
        =f.input :annotation
        =f.input :title
        =f.input :description, input_html: {rows: 3}

        =f.association :domains, collection: Domain.select_tree
        /=f.association :study_level, prompt: t('documents.form.choose_study_level'), collection: Document::StudyLevel.includes(:translations)
  .form-actions
    -if edit
      =f.button :submit, t('sale_books.edit.forms.submit')
    -else
      =f.button :submit, t('sale_books.new.forms.submit')
