=simple_form_for(@sale_book) do |f|
  =f.error_notification
  .form-inputs
    =f.input :description, input_html: {rows: 3}
    =f.input :state
    =f.input :annotation
    =f.input :price
    =f.input :currency

    =f.association :payment_modes, prompt: t('sale_books.form.choose_payment_mode'), collection: Advertisement::PaymentMode.includes(:translations)
    =f.association :delivery_modes, prompt: t('sale_books.form.choose_delivery_mode'), collection: Advertisement::DeliveryMode.includes(:translations)

    /Facultatif
    =f.association :domains, collection: Domain.select_tree
    /=f.association :study_level, prompt: t('documents.form.choose_study_level'), collection: Document::StudyLevel.includes(:translations)

  .form-actions
    =f.button :submit, t('sale_books.form.submit')
