-content_for(:title, t("sale_books.edit.title", book: @advertisement_sale_book.book.title))
-add_breadcrumb I18n.t('users.index.breadcrumb'),  :users_path

%h1=  t'sale_books.edit.title', book: @advertisement_sale_book.book.title

=render 'form', edit: true
-#= link_to 'Show', @advertisement_sale_book
-#|
-#= link_to 'Back', advertisement_advertisements_path