%h1= t'sale_books.new.title'

.section-container.auto{"data-section" => true}
  .section
    %p.title{"data-section-title"=>true}
      %a{:href => "#panel1"} étape 1
      .content{"data-section-content"=>true}
        %p Vos données personnelles
  .section
    %p.title{"data-section-title"=>true}
      %a{:href => "#panel2"} étape 2
      .content{"data-section-content"=>true}
        %p le livre
  .section
    %p.title{"data-section-title"=>true}
      %a{:href => "#panel2"} étape 3
      .content{"data-section-content"=>true}
        %p la vente
/render 'form'

= link_to 'Back', advertisement_sale_books_path
