%h1#joy_presentation= t'sale_books.new.title'

=render 'form', edit: false

-#%ol.joyride-list{'data-joyride' => true}
-#  %li{'data-id'=>'joy_presentation', 'data-text' => t('next')}
-#    %p=t("sale_books.new.joy_ride.joy_presentation.content")
-#  %li{'data-id'=>'joyIsbn', 'data-text' => t('next')}
-#    %h4=t("sale_books.new.joy_ride.joy_isbn.title")
-#    %p=t("sale_books.new.joy_ride.joy_isbn.content")
-#  %li{'data-id'=>'joyPrice', 'data-text' => t('next')}
-#    %h4=t("sale_books.new.joy_ride.joy_price.title")
-#    %p=t("sale_books.new.joy_ride.joy_price.content")
-#  %li{'data-id'=>'joyCurrency', 'data-text' => t('next')}
-#    %h4=t("sale_books.new.joy_ride.joy_currency.title")
-#    %p=t("sale_books.new.joy_ride.joy_currency.content")