-content_for :mail_title do
  =t'mailboxer.new_message.title'

=render(:layout => 'layouts/mailer_layout') do
  %p=t'mailboxer.new_message.description'
  -unless @message.subject == t('messages.default.title')
    %p
      %strong=t'mailboxer.new_message.message_subject'
      = @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject)
  %p
    %strong=t'mailboxer.new_message.message_message'
  .panel
    -if respond_to? :s
      =s(@message.body).html_safe
    -else
      =strip_tags(@message.body).html_safe