-content_for :mail_title do
  =t'mailboxer.reply.title'

%p=t'mailboxer.reply.description'
-unless @message.subject == t('messages.default.title')
  %p
    %strong=t'mailboxer.new_message.message_subject'
    = @message.subject
%p
  %strong=t'mailboxer.new_message.message_message'
.panel
  -if respond_to? :s
    =s(@message.body).html_safe
  -else
    =strip_tags(@message.body)
%p="#{link_to(t('mailboxer.read_it'), message_path(@conversation.id))}.".html_safe