-content_for :mail_title do
  =t'mailboxer.reply.title'

=render(:layout => 'layouts/mailer_layout') do
  %p=t'mailboxer.reply.description'
  -unless @message.subject == t('messages.default.title')
    %p
      %strong=t'mailboxer.new_message.message_subject'
      = @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject)
  %p
    %strong=t'mailboxer.new_message.message_message'
  .panel
    %blockquote
      =Sanitize.clean(@message.body)