=t'mailboxer.reply.description'
-unless @message.subject == t('messages.default.title')
  = strip_tags(@message.subject)
===============================================

=t'mailboxer.new_message.message_message'

"-----------------------------------------------"
= strip_tags(@message.body)
"-----------------------------------------------"
="#{t('mailboxer.read_it')}: #{message_url(@conversation.id)}."