<div class="row">
    <div class="columns small-12">
        <div class="alert-box <%= key %>" data-alert>
            <%= text %>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>