<div class="progress-bar">
    <div class="columns large-6">
        <p class="progress-bar-text"><%= text %></p>
    </div>
    <div class="columns large-5">
        <div class="progress">
            <span class="meter progress-bar-meter" style=""></span>
        </div>
    </div>
    <div class="columns large-1">
        <a class="button tiny secondary round radius cancel-upload"><i class="fi-x"/></a>
    </div>
</div>