<div class="progress-bar">
    <div class="columns large-6">
        <p class="progress-bar-text"><%= text %></p>
    </div>
    <div class="columns large-5">
        <div class="progress">
            <span class="meter progress-bar-meter" style=""></span>
        </div>
    </div>
    <div class="columns large-1">
        <button class="tiny secondary round radius" type="cancel"><i class="fi-x"/></button>
    </div>
</div>