<div class="progress-bar">
    <div class="columns large-12">
        <p class="progress-bar-text"><%= text %></p>
    </div>
    <div class="columns large-10">
        <div class="progress">
            <span class="meter progress-bar-meter" style=""></span>
        </div>
    </div>
    <div class="columns large-2>
        <a class="button tiny secondary round radius cancel-upload"><i class="fi-x"/></a>
    </div>
</div>