<form action="<%= action %>" method="PATCH" data-remote="true" class="rename-item-form" accept-charset="UTF-8">
    <input name="utf8" type="hidden" value="✓">
    <div class="row">
        <div class="columns small-8">
            <input type="text" value="<%= value %>" name="repo_item[name]" id="form-repo-item-name" autofocus="autofocus"/>
        </div>
        <div class="columns small-4">
            <input type="button" value="Annuler" class="button secondary small cancel-rename" />
        </div>
    </div>
    <input id="authenticity_token" name="authenticity_token" type="hidden" value="<%= auth%>">
    <input type="submit" class="hide"/>
</form>