-require 'cgi'

=raw(t('activity.comment.create', owner: link_to(h(activity.owner.name), activity.owner)))
- if activity.trackable
  =cite_a_part(activity.trackable.comment)
  =raw(t'activity.topic.in_link', link: link_to(h(activity.trackable.commentable), group_work_group_topic_path(activity.recipient, activity.trackable.commentable)))
- else
  #{t'activity.comment.not_exist'}.
- if activity.recipient
  - if specification == nil
    -# On doit ajouter les détails
    - if activity.recipient.class.to_s == 'Group::WorkGroup'
      =raw("#{t'activity.group_work_group.in_link', group: link_to(h(activity.recipient.name), activity.recipient)}.")
- else
  #{t'activity.group_work_group.not_exist'}.