@import 'var.css.scss';
@import 'foundation';
@import 'foundation-icons';

.thirty {
  background-color: $thirty-color;
  border-color: darken($thirty-color, 5%);
}
.thirty:hover{
  background-color: darken($thirty-color, 5%);
}



//body {
//  background-color: $secondary-color;
//}

.std-button {
  @include button;
  color: $font-color;
  background-color: $secondary-color;
  border-width: 1px;
  border-color: $primary-color;
  border-style: solid;
  //border-bottom-width: 4px;

  box-shadow: 0px 3px 0px $primary-color;
  border-radius: 5px;
}
.std-button:hover {
  color: $font-color;
  background-color: $secondary-color;
  border-width: 1px;
  border-color: $primary-color;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 1px 0px $primary-color;
  top: 2px;
  //border-bottom-width: 1px;
}

.std-button-i {
  @include button;
  color: $secondary-color;
  background-color: $primary-light-color;
  border-width: 1px;
  border-color:  $secondary-color;
  border-style: solid;
  //border-bottom-width: 4px;

  box-shadow: 0px 3px 0px $secondary-color;
  border-radius: 5px;
}
.std-button-i:hover {
  color: $secondary-color;
  background-color: $primary-light-color;
  border-width: 1px;
  border-color: $secondary-color;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 1px 0px $secondary-color;
  top: 2px;
  //border-bottom-width: 1px;
}

.std-button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}


.top-bar-section .up-button {
  @include button;
  color: $primary-color;
  background-color: $secondary-color;
  border-width: 1px;
  border-color: $primary-color;
  border-style: solid;
  //border-bottom-width: 4px;

  //box-shadow: 0px 3px 0px $primary-color;
  border-radius: 5px;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.top-bar-section .up-button:hover {
  color: $secondary-color;
  background-color: $primary-color;
  border-width: 1px;
  border-color: $secondary-color;
  border-style: solid;
  border-radius: 5px;
  box-shadow: none;
  transition-duration: 300ms;
  //border-bottom-width: 1px;
}


.top-bar-section .in-button {
  @include button;
  color: $secondary-color;
  background-color: $primary-color;
  border-width: 1px;
  border-color: $secondary-color;
  border-style: solid;
  //border-bottom-width: 4px;

  //box-shadow: 0px 3px 0px $primary-color;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
  padding-right: 20px;
  padding-left: 20px;

}
.top-bar-section .in-button:hover {
  color: $primary-color;
  transition-duration: 300ms;
  background-color: $secondary-color;
  border-width: 1px;
  border-color: $primary-color;
  border-style: solid;
  border-radius: 5px;
  box-shadow: none;
  //border-bottom-width: 1px;
}

// Sign up panel
#header-sign-up-panel {
  padding: 40px;
  h3 {
    margin: 25px 0px;
    color: $secondary-color;
  }
  label {
    color: $secondary-color;
    margin-bottom: 5px;
  }

  input[type="checkbox"], input[type="radio"] {
    margin-right: 20px;
  }
  .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}


#header-sign-in-panel {
  padding: 40px;
  h3 {
    margin: 25px 0px;
    color: $primary-color;
  }
  label {
    color: $primary-color;
    margin-bottom: 5px;
  }

  input[type="checkbox"], input[type="radio"] {
    margin-right: 20px;
  }
  .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.right-off-canvas-menu {
  //background-color: $secondary-color;
}



// INDEX
#home {
  #index-title {
    //color: $primary-color;
  }
  #show-modules {
    margin-top: 40px;
    .columns {
//      padding-left: 70px;
//      padding-right: 70px;
    }

  }
}


//documents
.no-border {
  border: none;
}

.full {
  width: 50%;
  .button {
    width: 100%;
  }
}

.index-document {
  h3 {
    a {
      color: $header-font-color;
      font-size: emCalc(25px);
      line-height: 0.5em;
    }
    margin-bottom: emCalc(5px);
    line-height: .85em;
    a:hover {
      text-decoration: underline;
      color: $header-font-color;
    }
  }
  .doc-subtitle {
    margin-top: $subheader-top-margin;
    margin-bottom: $subheader-bottom-margin;
    color: $document-subtitle-color;
    font-weight: $subheader-font-weight;
    a {
      color: $document-subtitle-color;
      font-weight: $subheader-font-weight;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

.panel-subtitle {
  margin-top: $subheader-top-margin;
  margin-bottom: $subheader-bottom-margin;
  font-size: emCalc(20px);
  a {
    color: #000000;
  }
  a:hover {
    color: $primary-color;
  }
}

.panel-text {
  margin-bottom: 1.25em;
  p {
    margin-bottom: 0px;
  }
}

.wrap-text {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.suggestion-panel { @include panel(#f9fbff, $panel-padding, true);
  border-color: #f5f5f9 1px;
  ul {
    list-style: none;
  }
  ul li:before {
    content: "\2192 \0020";
  }
}

.s2, .s2_users_select, .s2_general  {
  width: 100%;
  padding-bottom: 1em;
}


#important-label {
  font-size: emCalc(18px);
  padding-top: emCalc(7px);
  font-weight: 400;
}

.doc_status {
  .refused{
    color:red;
  }
  .pending{
    color:gray;
  }
  .accepted{
    color:green;
  }
}

.hide-string {
  display: none;
}

#doc-title-index {
  border-bottom: solid 8px $panel-document-color;
  padding-left: 10px;
}

//ads
#ads-index-title {
  border-bottom: 8px solid $panel-ads-color;
}

#new-book {
  padding-top: 50px;
}

// sale books
// INDEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
.sale_book_index{
  h3 {
    a {
      color: $header-font-color;
      font-size: emCalc(25px);
      line-height: 0.5em;
    }
    margin-bottom: emCalc(5px);
    line-height: .85em;
    a:hover {
      text-decoration: underline;
      color: $header-font-color;
    }
  }
  .ads-subtitle {
    margin-top: $subheader-top-margin;
    margin-bottom: $subheader-bottom-margin;
    color: $document-subtitle-color;
    font-weight: $subheader-font-weight;
    a {
      color: $document-subtitle-color;
      font-weight: $subheader-font-weight;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
// Sale_book END INDEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// SHOW <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
.sale_book_title {
  font-size: emCalc(30px)
}
#book_infos {
  #book_description{
    // Peut être pour mettre le show less/more
  }
  font-size: 1em;
  //font-weight: normal;
  h3{
    font-size: 1em;
  }
  h4 {
    font-weight: normal;
    font-size: 1em;
  }
}

// form
.short {
  max-height: emCalc(50px);
}

//message
#show_messages {
  blockquote.sender {
    //border-left: 2px; //solid orangered;
    margin-left: 1em;
  }
}

blockquote.unread{
  border-left: $messages-unread-border-left;
}

//static_pages
textarea { height: auto; min-height: 70px;}

#main-content {
  min-height: emCalc(300px);
}

::-webkit-input-placeholder { font-size:$font-size; }
::-moz-placeholder { font-size:$font-size; } /* firefox 19+ */
:-ms-input-placeholder { font-size:$font-size; } /* ie */
input:-moz-placeholder { font-size:$font-size; }

.signup-panel { @include panel(#3574AA);
  h1 {
    margin-bottom: 30px;
  }
  color: white;
  padding-bottom: 0px;
  .center-to-form {
    padding-bottom: 50px;
    padding-top: 25px;
  }
}

.last-title {
  background-color: #4b4b4b;
  padding-left: emCalc(10px);
  color: white;
  margin-bottom: 0px;
  padding-top: emCalc(5px);
  padding-bottom: emCalc(5px);
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

#news {
  background-color: $panel-news-color;
}

#ads {
  background-color: $panel-ads-color;
}

#doc {
  background-color: $panel-document-color;
}

.last-panel { @include panel($panel-bg);
  ul {
    padding-left: emCalc(20px);
  }
  li {
    a {
      color: lighten($header-font-color, 5%);
    }
    a:hover {
      color: $primary-color;
    }
  }
}

#partners {
  h4 {
    a {
      color: black;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

.connected-panel {
  background-color: #090909;
  min-height: emCalc(310px);
  h2, h3, p, h4, ul, li {
    color: white;
    font-family: Savoye LET;
    font-size: 2.5em;
    font-weight: normal;
  }

  h2 {
    text-decoration: underline;
    font-size: 3em;
  }

  ul, li {
    font-size: 1.3em;
  }
  .user {
    padding-top: emCalc(230px);
  }
  margin-bottom: emCalc(25px);
}

#footer {
  min-width: 100%;
}

footer {
  .panel { //@include panel($footer-background-color);
    border: none;
    background: #FFFFFF image-url('home/footer_bg.png') repeat-x;
    li {
      list-style: none;
    }
    a {
      color: black;
    }
    a:hover {
      color: $primary-color
    }
    .row {
      max-width: $row-width;
      margin: auto;
    }
  }
}

#blackboard {
  .board-corner-top-left {
    background: image-url('board/corners.gif') no-repeat top left;
    width: 96px;
    height: 94px;
  }
  .board-corner-top-right {
    background: image-url('board/corners.gif') no-repeat;
    background-position: 0 -297px;
    width: 96px;
    height: 94px;
  }
  .board-top {
    background: image-url('board/board-top.gif'); background-position: 0 0px; background-repeat: repeat-x;
    margin-right: 87px;
    margin-left: 96px;
    height: 34px;
  }
  .board-bottom {
    background: image-url('board/board-bottom.gif'); background-position: 0 0px; background-repeat: repeat-x;
    margin-right: 88px;
    margin-left: 88px;
    margin-top: 58px;
    height: 34px;
  }
  .board-content {
    margin-left: 50px;
    margin-right:50px;

  }
  .board-corner-bottom-left {
    background: image-url('board/corners.gif') no-repeat;
    background-position: 0 -99px;
    width: 96px; height: 94px;
  }
  .board-corner-bottom-right {
    background: image-url('board/corners.gif') no-repeat;
    background-position: 0 -198px;
    width: 96px; height: 94px;
  }
  .board-bottom {
    height: 94px;
  }
}

.side-nav .heading {
  text-transform: uppercase;
}

//#################INVITATIONS#################

#invit-form {
  form {
    display: inline;
  }
}

#user-persistent-menu {
  position: fixed;
  right: 0;
  top: 130px;
  width: 8em;
  margin-top: -2.5em;
  z-index: 10;
  background: hsla(80, 90%, 40%, 0.7);
  border: solid hsla(80, 90%, 40%, 0.5);
  border-right: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 0.5em 0em 0em 0.5em;
  font-weight: bold;
  //font-size: large;
  text-align: left;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: antiquewhite;
  }
  h6 {
    color: white;
    //font-size: small;
  }
  ul {
    list-style: none;
  }
}

//########################Repo item““““““““““““““
.button.button-item {
  padding-left: rem-calc(15px);
  padding-right: rem-calc(15px);
}

.topics {
  background-color: white;

}

.list-member-group {
  margin-top: rem-calc(10px);
}

// ##########################################
// ########## USER BAR ######################
// ##########################################
#user-bar {
  position: fixed;
  bottom: 0px;
}
