// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";

$font-size : 1.1em;

::-webkit-input-placeholder { font-size:$font-size; }
::-moz-placeholder { font-size:$font-size; } /* firefox 19+ */
:-ms-input-placeholder { font-size:$font-size; } /* ie */
input:-moz-placeholder { font-size:$font-size; }

.signup-panel { @include panel(#4b4b4b);
  padding-bottom: 0px;
  .center-to-form {
    padding-bottom: 50px;
    padding-top: 25px;
  }
}

.last-title {
  background-color: #4b4b4b;
  padding-left: emCalc(10px);
  color: white;
  margin-bottom: 0px;
  padding-top: emCalc(5px);
  padding-bottom: emCalc(5px);
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

#news {
  background-color: $panel-news-color;
}

#ads {
  background-color: $panel-ads-color;
}

#doc {
  background-color: $panel-document-color;
}

.last-panel { @include panel($panel-bg);
  ul {
    padding-left: emCalc(20px);
  }
  li {
    a {
      color: lighten($header-font-color, 5%);
    }
    a:hover {
      color: $primary-color;
    }
  }
}

$footer-middle-color: lighten($footer-background-color, 20%);
$footer-end-color: lighten($footer-background-color, 30%);
footer {
  .panel { @include panel($footer-background-color);
    border: none;
    border-top: 1px solid darken($panel-bg, 10%);
    background: $footer-background-color; /* Old browsers */
    background: -moz-linear-gradient(top,  $footer-background-color 0%, $footer-background-color 43%, $footer-end-color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$footer-background-color), color-stop(43%,$footer-background-color), color-stop(100%,$footer-end-color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $footer-background-color 0%,$footer-background-color 43%,$footer-end-color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $footer-background-color 0%,$footer-background-color 43%,$footer-end-color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $footer-background-color 0%,$footer-background-color 43%,$footer-end-color 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $footer-background-color 0%,$footer-background-color 43%,$footer-end-color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$footer-background-color', endColorstr='$footer-end-color',GradientType=0 ); /* IE6-9 */

  }
}