<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @member_group_demand.message %>
</p>


<%= link_to 'Edit', edit_member_group_demand_path(@member_group_demand) %> |
<%= link_to 'Back', member_group_demands_path %>
