%blockquote
  .row
    .large-1.columns.hide-for-small
      %p=image_tag activity.owner.avatar if activity.owner
    .large-11.columns
      =link_to activity.owner.name, activity.owner if activity.owner
      =yield
      %cite
        -if activity.key == 'group_work_group.create'
          %i{class: 'fi-page-add'}
        -elsif activity.key == 'group_work_group.update'
          %i{class: 'fi-page-edit'}
        -elsif activity.key == 'group_work_group.destroy'
          %i{class: 'fi-page-remove'}
        -elsif activity.key == 'group_work_group.joined'
          %i{class: 'fi-plus'}
        -elsif activity.key == 'status.create'
          %i{class: 'fi-pencil'}
        %span{title: l(activity.created_at, format: :long)}
          =t('dico.time_ago', date: time_ago_in_words(activity.created_at))
%hr