%blockquote
  .row
    .large-2.columns.hide-for-small
      -if activity.key == 'user.create'
        -if activity.trackable
          %a{href: user_path(activity.trackable),class: 'th'}
            =image_tag activity.trackable.avatar.mini
      -else
        -if activity.owner
          %a{href: user_path(activity.owner),class: 'th'}
            =image_tag activity.owner.avatar.mini
    .large-22.columns
      =yield
      %cite
        -action = activity.key.split('.').last
        -case action
        -when 'create', 'joined'
          %i{class: 'fi-plus'}
        -when 'update'
          %i{class: 'fi-wrench'}
        -when 'destroy'
          %i{class: 'fi-trash'}
        -#-if activity.key == 'group_work_group.create'
        -#  %i{class: 'fi-page-add'}
        -#-elsif activity.key == 'group_work_group.update'
        -#  %i{class: 'fi-page-edit'}
        -#-elsif activity.key == 'group_work_group.destroy'
        -#  %i{class: 'fi-page-remove'}
        -#-elsif activity.key == 'group_work_group.joined'
        -#  %i{class: 'fi-plus'}
        -#-elsif activity.key == 'status.create'
        -#  %i{class: 'fi-pencil'}
        -#-elsif activity.key == 'comment.create'
        -#  %i{class: 'fi-pencil'}
        %span{title: l(activity.created_at, format: :long)}
          =t('dico.time_ago', date: time_ago_in_words(activity.created_at))
%hr