<footer>
  <hr/>
  <ul class="inline-list">
    <li>
      <%= link_to "a propos", about_path %>
    </li>
    <li>
      <%= link_to "aide", help_path %>
    </li>
    <li>
      <%= link_to "contact", contact_path %>
    </li>
  </ul>
</footer>
<p><%= debug(params) if Rails.env.development? %></p>