#decal-content
#user-panel
  %ul.no-bullet
    %li.user-avatar
      -#=show_avatar_linked(current_user)
      =link_to(image_tag(current_user.avatar.mini), current_user)
    %li.user-notifications
      =link_to('', notifications_path, id: 'user-panel-user-notifications')
    -#%li.user-messages.selected
    -#  =link_to('', messages_path, class: "up-button left-off-canvas-toggle")
    %li.user-settings
      =link_to('', edit_user_registration_path)
#user-panel-extended.hide
  #user-messages-panel
    -# todo implement if messages
  #user-notifications-panel
    %ul.no-bullet
      %li.dark
        %table
          %tr
            %td.avatar
              =show_avatar_linked(current_user)
            %td.text
              =link_to('Jelly', '#')
              a déposé
              =link_to('2 fichiers', '#')
              dans la boite de dépôt du groupe
              ="#{link_to(h('Nom Du Groupe'), '#')}.".html_safe
      %li.light
        %table
          %tr
            %td.avatar
              =show_avatar_linked(current_user)
            %td.text
              =link_to('Jelly', '#')
              a créé le groupe
              =link_to('Nom Du Groupe', '#')
              et vous y invite.
      %li.light
        %table
          %tr
            %td.avatar
              =show_avatar_linked(current_user)
            %td.text
              =link_to('Jelly', '#')
              a créé et vous dit bonne nuit car il est fatigé et en a peut être mare d'écrire pour rien le groupe
              =link_to('Nom Du Groupe', '#')
              et vous y invite.
      %li.dark
        %table
          %tr
            %td.avatar
              =show_avatar_linked(current_user)
            %td.text
              =link_to('Jelly', '#')
              a créé ur rien le groupe
              =link_to('Nom Du Groupe', '#')
              et vous y invite.
      %li.light
        %table
          %tr
            %td.avatar
              =show_avatar_linked(current_user)
            %td.text
              =link_to('Jelly', '#')
              a créé commencé à vous suivre.